[submodule "external/Phyzzy"]
	path = external/Phyzzy
	url = https://github.com/simondevenish/Phyzzy
[submodule "external/EmberScript"]
	path = external/EmberScript
	url = https://github.com/simondevenish/EmberScript
[submodule "external/AllocX"]
	path = external/AllocX
	url = https://github.com/simondevenish/AllocX
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/phyzzy"]
	path = external/phyzzy
	url = https://github.com/your-username/phyzzy.git
[submodule "external/SDL2"]
	path = external/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/The-Forge-Toy-Box"]
	path = external/The-Forge-Toy-Box
	url = https://github.com/simondevenish/The-Forge-Toy-Box.git
[submodule "external/salient"]
	path = external/salient
	url = https://github.com/simondevenish/salient
